/PoixsDesk/build/.vs/PoixsDesk/FileContentIndex/2a51b678-0c0e-4cf6-802c-c64bda5eea53.vsidx
/PoixsDesk/build/ALL_BUILD.vcxproj
/build

/PoixsDesk/build/
/PoixsDesk/build/.vs/PoixsDesk/v17/Solution.VC.db
/Tools/build/
/Tools/build/.vs/poixs_desk_tools/v17/.suo
/--.gitignore
/nginx.exe
/temp
/logs
/docs
/conf
/contrib
/~$云电脑平台架构.pptx
/.clude/sessions
/2026年研发技术规划.pptx
/New DOCX 文档.docx
/.clude.yaml
/.clude.yaml.backup
/.clude/index_state_code_chunks_v2_heuristic.json
/PushStatisServer
/build_win/libcommon
/build_win
/Win/res/New Text Document.txt
/libcommon/clog.h_summary.md
/~$【核心研发攻坚汇报】工业级远控制平台：万级并发与底层驱动级性能博弈.pptx
