/PoixsDesk/build/.vs/PoixsDesk/FileContentIndex/2a51b678-0c0e-4cf6-802c-c64bda5eea53.vsidx
/PoixsDesk/build/ALL_BUILD.vcxproj
/build

/PoixsDesk/build/
/PoixsDesk/build/.vs/PoixsDesk/v17/Solution.VC.db
/Tools/build/
/Tools/build/.vs/poixs_desk_tools/v17/.suo
/--.gitignore
/nginx.exe
/temp
/logs
/docs
/conf
/contrib
/~$云电脑平台架构.pptx
